actual.papobilou.ch {
    reverse_proxy actual:5006 {
        header_down Cross-Origin-Opener-Policy "same-origin"
        header_down Cross-Origin-Embedder-Policy "require-corp"
    }
}

blog.papobilou.ch {
    reverse_proxy blog-web-1:80
}

lucfloorball.papobilou.ch {
    reverse_proxy luc_floorball-nginx-1:80
}